<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pizza oderman</title>
</head>
<body>

    <ul>
     <li><a href="/admadd/">Admin Add</a></li>
    </ul>

    <h1>OdermanPizza</h1>
    <img src="images/pizza.jpg" alt="Смачна піца" width="300" height="200">
    <a href="/menu">menu</a>


    <form method="GET" action="/">
        <label for="city">Введіть місто:</label>
        <input type="text" id="city" name="city" placeholder="Наприклад, Київ" required>
        <button type="submit">Отримати погоду</button>
    </form>

     {% if weather %}
        <div>
            <h2>Погода в {{ city }}</h2>
            <p>Температура: {{ weather["temp"] }}°C</p>
            <p>Відчувається як: {{ weather["feels_like"] }}°C</p>
            <p>Тиск: {{ weather["pressure"] }} hPa</p>
        </div>
    {% endif %}
</body>
</html>