<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu - Oderman Pizza</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>Pizza Menu</h1>

    <table>
       <tr>
           <th>назва піци</th>
           <th>інгредієнти</th>
           <th>ціна піци</th>
       </tr>
        <tr>
            <td>Патріотська</td>
            <td>тісто,ковбаса</td>
            <td>49</td>
        </tr>
        <tr>
            <td>цезарь</td>
            <td>сир,помідори</td>
            <td>154</td>
        </tr>
        <tr>
            <td>рибна</td>
            <td>риба</td>
            <td>311</td>
        </tr>
    </table>

    <img src="pizza.jpg" alt="Delicious pizza" width="300" height="200">
</body>
</html>
